.Calculator {
  text-align: center;
  background-color: beige;
  width: 450px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.actionBar {
  height: 80px;
  display: flex;
  flex-direction: row;
}

.actionBarBtn {
  background-color: green;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}

.actionBarBtn:hover {
  opacity: 0.5;
}

.CalculatorContent {
  flex-grow: 1;
}

.unitLogo {
  width: 55px;
  height: 55px;
  margin: 0 auto;
}