.Calculator {
  text-align: center;
  background-color: beige;
  width: 450px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.actionBar {
  height: 80px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.actionBarBtn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}

.defendingBarBtn:hover {
  opacity: 0.5;
}

.defendingBarBtnSelect:hover {
  opacity: 0.5;
}

.actionBarBtnAdd:hover {
  opacity: 0.5;
}

.decrementUnitBtn:hover {
  opacity: 0.5;
}

.CalculatorContent {
  flex-grow: 1;
  padding: 80px 0px;
}

.unitLogo {
  width: 55px;
  height: 55px;
  margin: 0 auto;
}


.progressButton{
  position: absolute;
  /* Positioning done in button specific selector */
  cursor: pointer;
  /* height: 44px; */
  /* width: 120px; */

  text-decoration: none;
  color: white;
  font-weight: bold;
	padding: 10px 30px;
	/* display: inline-block; */
	/* position: relative; */
	border: 1px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);

  background: rgba(250,90,90,1);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(250,90,90,1)), to(rgba(232,81,81,1)));
	background: -webkit-linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
	background: -moz-linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
	background: -o-linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
	background: linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5a5a', endColorstr='#e85151', GradientType=0 );
}
.progressButton:active {background: #E35252;}