.UnitSelectionScreen{
  /* background-color: royalblue; */
  display: flex;
  user-select: none;
  position: relative;
}

.UnitSelectionScreenColumn{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.DefenceColumn{
  /* background-color: red; */
  border-right: 1px solid rgba(0, 0, 0, 0.7);
}

.AttackColumn{
  /* background-color: greenyellow; */
  border-left: 1px solid rgba(0, 0, 0, 0.7);
}

.ColumnTitle{
  height: 40px;
  margin: 0;
}

.columnContent{
  /* background-color: rgba(0,0,0,0.5); */
  flex-grow: 1;
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
}

.DefensiveUnitPosition{
  height: 50%;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.DefensiveBonusPosition{
  font-weight: bold;
  height: 50%;
}

.AttackingUnitTypeRow{
  display: flex;
  height: 25%;
  padding: 5px 0;
  align-items: center;
  justify-content: center;
}

.unitLogoAttack{
  height: 30px;
  padding-right: 10px;
}

.pointsTotal{
  height: 60px;
  font-size: 18px;
  font-weight: bold;
}

.progressButton{
  position: absolute;
  /* Positioning done in button specific selector */
  cursor: pointer;
  /* height: 44px; */
  /* width: 120px; */

  text-decoration: none;
  color: white;
  font-weight: bold;
	padding: 10px 30px;
	/* display: inline-block; */
	/* position: relative; */
	border: 1px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);

  background: rgba(250,90,90,1);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(250,90,90,1)), to(rgba(232,81,81,1)));
	background: -webkit-linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
	background: -moz-linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
	background: -o-linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
	background: linear-gradient(rgba(250,90,90,1) 0%, rgba(232,81,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5a5a', endColorstr='#e85151', GradientType=0 );
}
.progressButton:active {background: #E35252;}

.CompDoneBtn{
  top: calc(0% + 20px);
  left: calc(50% - 100px);;
}