.UnitSelectionScreen{
  /* background-color: royalblue; */
  display: flex;
  user-select: none;
  position: relative;
}

.UnitSelectionScreenColumn{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.DefenceColumn{
  /* background-color: red; */
  border-right: 1px solid rgba(0, 0, 0, 0.7);
}

.AttackColumn{
  /* background-color: greenyellow; */
  border-left: 1px solid rgba(0, 0, 0, 0.7);
}

.ColumnTitle{
  height: 40px;
  margin: 0;
}

.columnContent{
  /* background-color: rgba(0,0,0,0.5); */
  flex-grow: 1;
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
}

.DefensiveUnitPosition{
  height: 50%;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.DefensiveBonusPosition{
  font-weight: bold;
  height: 50%;
}

.AttackingUnitTypeRow{
  display: flex;
  height: 25%;
  padding: 5px 0;
  align-items: center;
  justify-content: center;
}

.unitLogoAttack{
  height: 30px;
  padding-right: 10px;
}

.pointsTotal{
  height: 60px;
  font-size: 18px;
  font-weight: bold;
}

.CompDoneBtn{
  top: calc(0% + 20px);
  left: calc(50% - 100px);;
}